$color-yellow: #ffb700;
$color-dark: #161719;
$color-navbar: #55575a92;
$color-white: #ffffff;
$color-black: #000000;
$section-width: 90%;
$color-text-gray: #9699a4;
$color-light-bg: #fbf9f2;
$color-section-mark: #e8e5df;
$color-footer: #25292c;
