@use "../functions/variables" as *;
@use "../functions/mixins" as *;
.experienced {
  padding: 25px 0 90px;

  &__content {
    @include section-content;
  }

  &__row {
    align-items: center;
  }

  &__left {
    padding-right: 28px;
  }

  &__small-title {
    margin: 0 0 15px;
    color: $color-yellow;
    font-size: 15px;
  }
  &__bottom {
    @include flex-layout($align: flex-start, $gap: 40px);
  }
  h2 {
    margin: 0;
    color: $color-dark;
    font-size: 48px;
    font-weight: 600;
  }

  &__description {
    width: 92%;
    margin: 25px 0 42px;
    color: $color-text-gray;
    font-size: 18px;
  }

  &__services {
    margin-bottom: 42px;
  }

  .experienced-service {
    @include flex-layout($align: flex-start, $gap: 22px);
    img {
      width: 62px;
      height: 62px;
      object-fit: contain;
    }

    div {
      width: 72%;
    }

    h3 {
      margin: 0 0 8px;
      color: $color-dark;
      font-size: 22px;
      font-weight: 600;
    }

    p {
      margin: 0;
      color: $color-text-gray;
      font-size: 17px;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin-bottom: 34px;
    background-color: #555555;
  }

  &__more {
    width: 272px;

    .animated-button__icon {
      width: 25px;
      height: 25px;
    }
  }

  &__author {
    @include flex-layout($align: center, $gap: 15px);

    img {
      width: 65px;
      height: 65px;
      object-fit: contain;
    }

    h3 {
      margin: 0 0 3px;
      color: $color-dark;
      font-size: 21px;
      font-weight: 600;
    }

    p {
      margin: 0;
      color: $color-text-gray;
      font-size: 13px;
    }
  }

  &__right {
    padding-left: 28px;
  }

  &__image-box {
    position: relative;
    width: 100%;
    height: 590px;
    padding-top: 32px;
    padding-left: 34px;
    border-radius: 14px;
  }

  &__main-image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

  &__experience {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 340px;
    @include flex-layout($align: flex-start, $gap: 18px);
    padding: 10px 28px;
    background-color: $color-white;
    border-radius: 14px;
    box-shadow: 0 5px 20px #00000018;

    strong {
      color: $color-yellow;
      font-size: 46px;
      font-weight: 600;
    }

    span {
      color: #4c4c56;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
// SMALL SCREEN STYLE

@media (max-width: 991px) {
  .experienced {
    padding: 24px 0 82px;

    &__content {
      width: 94%;
    }

    &__left {
      padding-right: 0;
    }

    &__small-title {
      margin: 0 0 8px;
      font-size: 11px;
    }

    h2 {
      font-size: 24px;
    }

    &__description {
      width: 100%;
      margin: 14px 0 24px;
      font-size: 16px;
    }

    &__services {
      margin-bottom: 8px;
    }

    .experienced-service {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 22px;

      img {
        width: 34px;
        height: 34px;
      }

      div {
        width: 100%;
      }

      h3 {
        margin: 0 0 6px 0;
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }
    }

    &__divider {
      margin-bottom: 16px;
    }

    &__bottom {
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
    }

    &__more {
      width: 140px;
      height: 36px;
      font-size: 11px;

      .animated-button__icon {
        width: 14px;
        height: 14px;
      }

      .animated-button__icon--default {
        right: 10px;
      }

      .animated-button__icon--hover {
        left: 10px;
      }
    }

    &__author {
      gap: 8px;

      img {
        width: 44px;
        height: 44px;
      }

      h3 {
        margin: 0 0 2px;
        font-size: 14px;
      }

      p {
        font-size: 8px;
      }
    }

    &__right {
      margin-top: 20px;
      padding-left: 0;
    }

    &__image-box {
      height: auto;
      padding-top: 0;
      padding-left: 0;
      border-radius: 8px;
    }

    &__main-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    &__experience {
      bottom: 15px;
      left: 12px;
      width: 180px;
      gap: 8px;
      padding: 8px 14px;
      border-radius: 8px;

      strong {
        font-size: 28px;
      }

      span {
        font-size: 11px;
      }
    }
  }
}
