@use "../functions/variables" as *;
@use "../functions/mixins" as *;

.testimonials {
  padding: 80px 0 120px;
  background-color: $color-white;

  &__content {
    @include section-content;
  }

  h2 {
    margin: 45px 0 55px;
    color: $color-dark;
    font-size: 48px;
    font-weight: 600;
  }

  #testimonialCarousel {
    position: relative;
    .carousel-inner {
      margin-top: -45px;
      padding-top: 45px;
    }
  }

  .testimonial-card {
    position: relative;
    z-index: 1;
    height: 330px;
    padding: 45px;
    border-radius: 12px;
    background-color: $color-white;
    box-shadow: 0 4px 20px #00000018;

    &__quote {
      position: absolute;
      z-index: 100;
      top: -38px;
      right: 40px;
      width: 95px;
    }

    &__top {
      margin-bottom: 25px;

      @include flex-layout($justify: space-between, $align: center);

      > img {
        width: 165px;
        padding: 6px 10px;
        border-radius: 15px;
        background-color: #fff8e8;
      }
    }

    &__text {
      margin-bottom: 15px;
      color: $color-text-gray;
      font-size: 16px;
    }

    &__date {
      margin: 0;
      color: $color-yellow;
      font-size: 18px;
    }
  }

  .testimonial-user {
    @include flex-layout($align: center, $gap: 20px);

    > img {
      width: 70px;
      height: 70px;
      border-radius: 10px;
    }

    h3 {
      margin: 0 0 4px;
      color: #4c4c56;
      font-size: 24px;
      font-weight: 600;
    }

    p {
      margin: 0;
      color: $color-text-gray;
      font-size: 13px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    @include carousel-control;

    top: -100px;
    width: 40px;
    height: 40px;
    border: 1px solid $color-yellow;
    background-color: $color-white;

    &:hover {
      background-color: $color-yellow;

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        border-top-color: $color-white;
        border-left-color: $color-white;
      }
    }
  }

  .carousel-control-prev {
    left: auto;
    right: 60px;
  }

  .carousel-control-next {
    right: 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 13px;
    height: 13px;
    background-image: none;
    border-top: 2px solid $color-yellow;
    border-left: 2px solid $color-yellow;
  }

  .carousel-control-prev-icon {
    transform: rotate(-45deg);
  }

  .carousel-control-next-icon {
    transform: rotate(135deg);
  }
}

// SMALL SCREEN STYLE

@media (max-width: 991px) {
  .testimonials {
    padding: 55px 0 65px;

    &__content {
      width: 94%;
    }

    > .testimonials__content {
      > .section-mark,
      > h2 {
        display: none;
      }
    }

    #testimonialCarousel {
      .carousel-inner {
        margin-top: 0;
        padding-top: 18px;
      }
    }

    .testimonial-column--second {
      display: none;
    }

    .testimonial-card {
      width: 100%;
      height: auto;
      padding: 18px 16px;
      border-radius: 7px;

      &__quote {
        top: -12px;
        right: 18px;
        width: 42px;
      }

      &__top {
        margin-bottom: 14px;

        > img {
          width: 92px;
          padding: 4px 7px;
          border-radius: 12px;
        }
      }

      &__text {
        margin-bottom: 10px;
        font-size: 11px;
      }

      &__date {
        font-size: 12px;
      }
    }

    .testimonial-user {
      gap: 10px;

      > img {
        width: 42px;
        height: 42px;
        border-radius: 5px;
      }

      h3 {
        margin: 0 0 2px;
        font-size: 16px;
      }

      p {
        font-size: 9px;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
  }
}
