@use "../functions/variables" as *;
@use "../functions/mixins" as *;

.page-pagination {
  margin: 45px 0 65px;
  @include flex-layout($justify: center, $align: center, $gap: 10px);

  &__button {
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: $color-section-mark;
    color: $color-dark;
    border: 0;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: $color-yellow;
    }

    &.active {
      background-color: $color-yellow;
      color: $color-white;
    }
  }

  &__next {
    font-size: 22px;
  }
}
